<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImage OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SDWebImage iOS static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SDWebImage iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SDWebImage tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SDWebImage watchOS static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>SDWebImage watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00733A4B1BC487C000A5A117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4314D11B1D0E0E3B004B36C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431BB6891D06D2C1006A3455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4397D2761D0DDD8C00BB2784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2CADFE1AB4BB5300B6BC39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53761307155AD0D5005750A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
